<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Five and Alive!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="jumbotron" style="text-align: center">
      <h1>Register</h1>
      <!--<a href="/" class="btn btn-primary" role="button">View Chart</a>-->
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2>Enter your details below</h2>
        <form method="POST" action="/send" role="form", name="nom">
          <div class="form-group">
            <label for="inputName">Your Name</label>
            <input type="text" class="form-control" id="inputName" name="Username" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge" name="Age" placeholder="Age">
          </div>
          <div class="form-group">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" name="City" placeholder="Baltimore">
          </div>
          <div class="form-group">
            <label for="inputState">State</label>
            <input type="text" class="form-control" id="inputState" name="State" placeholder="MD">
          </div>
          <div class="form-group">
            <label for="inputGender">Gender</label>
            <br>
            <select id="inputGender" name="Gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="non-binary">Non-binary</option>
              <option value="prefer not to specify">Prefer not to specify</option>
            </select>               
          </div>
          <div class="form-group">
            <label for="inputDiscovery">How did you discover this game?</label>
            <br>
            <select id="inputDiscovery" name="Discovery">
              <option value="volvo">Friend</option>
              <option value="saab">Classmate</option>
              <option value="mercedes">Social Media</option>
              <option value="audi">Randomly</option>
              <option value="audi">Other</option>
            </select>  
          </div>
          <input type="submit" value="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</body>

</html>
